<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}The World Of Ciphers{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{{ request.cookies.get('theme', 'dark') }}">

<div class="top-right">
    {% if current_user.is_authenticated %}
        <span class="user-name">{{ current_user.login }}</span>
        <a href="/logout" class="top-link">Выйти</a>
    {% endif %}
    <a href="/settings" class="top-link">Настройки</a>
    <a href="/help" class="top-link">Справка</a>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>