{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<h1>The World Of Ciphers</h1>

<a href="/guide" class="menu-button">
    Справка по шифрам
</a>
{% for level in levels %}
<a href="/play/{{ loop.index }}" class="level-button">
    {{ level }}
</a>
{% endfor %}

{% else %}

<h1 class="big-title">The World Of Ciphers</h1>
<p class="subtitle">Разгадай. Взломай. Победи.</p>
<p class="login-message">Войдите, чтобы начать игру</p>

<a href="/login" class="auth-button">Войти</a>
<a href="/register" class="auth-button">Регистрация</a>

{% endif %}

{% endblock %}