{% extends "base.html" %}
{% block title %}Настройки{% endblock %}

{% block content %}

<h1>Настройки</h1>

<form method="POST">
    <div class="setting-box">
        <label>Тема интерфейса</label>
        <select name="theme">
            <option value="dark" {% if request.cookies.get('theme', 'dark') == 'dark' %}selected{% endif %}>Тёмная</option>
            <option value="light" {% if request.cookies.get('theme') == 'light' %}selected{% endif %}>Светлая</option>
        </select>
    </div>

    <button type="submit">Сохранить</button>
    <a href="/" class="menu-button">В меню</a>
</form>

{% endblock %}